@{
    ViewData["Title"] = "Home Page";
  

}

    <div class="row">
    </div>
    <div class="row" style="margin-left:15px !important">
        <div class="col-md-8 p-4 shadow-lg bg-white rounded">
            <strong>♦ Máy móc, trang thiết bị hiện đại, hóa chất chuyên dụng</strong>
            <p>
                Để mang đến cho khách hàng những dịch vụ có chất lượng vượt trội, Dịch vụ vệ sinh KDC đã đầu tư mua sắm nhiều máy móc, trang thiết bị hiện đại và hóa chất tẩy rửa chuyên dụng.
            </p>
            <p>
                Một số máy móc được công ty mua sắm bao gồm: máy hút bụi, máy thổi bụi, máy đánh bóng sàn, máy quét rác công nghiệp, máy phun áp lực, máy giặt thảm, quạt thổi,….
            </p>
        </div>
    <div class="col-md-3 ml-2 p-4 shadow-lg bg-white rounded" style="margin-left:15px !important">
            <p>Ngày nay, cùng với sự phát triển của công nghệ thời 4.0, nhu cầu của mọi người ngày càng được...</p>
        </div>
    </div>

