@{
    ViewData["Title"] = "Home Page";


}
<style>
    /* Tăng kích thước và làm đậm chữ label */
    label {
        font-weight: bold;
        font-size: 18px;
    }

    /* Làm mờ placeholder */
    .form-control::placeholder, .form-select::placeholder {
        color: #999; /* Màu xám nhạt */
        opacity: 0.7; /* Độ mờ */
    }

    /* Tăng kích thước input, select, textarea */
    .form-control, .form-select {
        font-size: 18px;
        height: 50px;
    }

    textarea.form-control {
        height: 150px !important;
        font-size: 18px;
    }

    #getProduct img {
        max-width: 100%; /* Ảnh không vượt quá khung chứa */
        height: auto; /* Giữ tỷ lệ khung hình */
        display: block; /* Đảm bảo ảnh không bị lỗi hiển thị */
        margin: 0 auto; /* Căn giữa ảnh nếu cần */
    }

    #getProduct {
        width: 100%; /* Đảm bảo nội dung hiển thị đầy đủ */
    }

</style>
<div class="row d-flex align-items-center" style="background-color: #f0ecec; padding: 10px;">
   
    <span id="getName"> <i class="fa-solid fa-house me-2"></i><a href="/">Trang chủ</a>Tên</span>
</div>



<div class="row" style="margin-left:15px !important">
    <div class="col-md-8 p-4 ">
        <div class="row shadow-lg bg-white rounded" >
            <div id="getProduct" class="row">

            </div>
            <div class="row p-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Họ tên</label>
                        <input class="form-control" placeholder="Họ tên" id="hoten" />
                    </div>
                    <div class="col-md-6">
                        <label>Số điện thoại</label>
                        <input class="form-control" placeholder="Số điện thoại" id="sdt" />
                    </div>
                </div>

                <div class="row mt-3">
                    <label>Dịch vụ</label>
                    
                    @Html.DropDownList("service",
                             new SelectList(ViewBag.ListProduct, "Id", "Name"),
                             "- Chọn Dịch Vụ -",
                             new { @class = "form-control" })
                </div>

                <div class="col-md-12 mt-3">
                    <label>Lời nhắn</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="note"></textarea>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Tôi đã đọc và chấp nhận chính sách 
                        </label>
                    </div>
                    <div class="row justify-content-center mt-5 mb-5">
                        <button type="submit" class="btn btn-primary px-4 py-2" style="font-size:25px;width: 150px;" id="order">Gửi đi</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <h2>Có thể bạn quan tâm</h2>
            <div class="row shadow-lg bg-white rounded mt-5">
                <strong>♦ Máy móc, trang thiết bị hiện đại, hóa chất chuyên dụng</strong>
                <p>
                    Để mang đến cho khách hàng những dịch vụ có chất lượng vượt trội, Dịch vụ vệ sinh KDC đã đầu tư mua sắm nhiều máy móc, trang thiết bị hiện đại và hóa chất tẩy rửa chuyên dụng.
                </p>
                <p>
                    Một số máy móc được công ty mua sắm bao gồm: máy hút bụi, máy thổi bụi, máy đánh bóng sàn, máy quét rác công nghiệp, máy phun áp lực, máy giặt thảm, quạt thổi,….
                </p>
            </div>
           
        </div>

    </div>
    <div class="col-md-3 ml-2 " style="margin-left:15px !important">
        <div class="row shadow-lg bg-white rounded  p-4">
            Ngày nay, cùng với sự phát triển của công nghệ thời 4.0, nhu cầu của mọi người ngày càng được...
       </div>
        <div class="row shadow-lg bg-white rounded mt-5 p-4">
            Ngày nay, cùng với sự phát triển của công nghệ thời 4.0, nhu cầu của mọi người ngày càng được...
        </div>
    </div>
</div>
<!-- Modal Notification Box -->
<div id="notificationBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelHidden">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="boxHidden">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var product = {
            init: function () {              
                product.getProduct();
                $("#order").click(function () {
                   
                    product.order();

                });
                 $("#boxHidden,#cancelHidden").click(function () {
                    $("#notificationBox").modal('hide');
                });
            },
            getProduct: function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    url: '/Product/getProduct',
                    success: function (res) {
                        if ( res.data) {
                            $('#getProduct').html(res.data.content);
                             var html = "";
                              
                                html += "<a href='/' style='text-decoration:none;'><i class='fa-solid fa-house me-2'></i>Trang chủ/ </a>" + res.data.name;
                            $('#getName').html(html);
                        }
                    },
                    error: function () {
                        _layout.showtoast("Đã xảy ra lỗi khi lấy thông tin bài viết.");

                    }
                });
            },
            order:function(){
                var hoten = $("#hoten").val();
                var sdt = $("#sdt").val();
                var service = $("#service").val();
                var note = $("#note").val();
                if (!hoten) {
                    product.showNotification("Vui lòng nhập họ tên");
                    return;
                }
                 if (!sdt) {
                    product.showNotification("Vui lòng nhập số điện thoại ");
                    return;
                }
                var form = new FormData();
                form.append("name", hoten);
                form.append("sdt", sdt);
                form.append("service", service);
                form.append("note", note);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Product/Order/',
                    success: function (res) {
                        $("#hoten").val("");
                        $("#sdt").val("");
                        $("#service").val("").trigger("change"); // Nếu dùng Select2 thì cần trigger change
                        $("#note").val("");
                        _layout.showtoast(res.mess);
                        
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi tạo sản phẩm.");
                    }
                });
            },
            showNotification: function (message) {
                $("#notificationMessage").text(message); // Set the message inside the modal
                $("#notificationBox").modal('show');    // Show the modal
            }
          
        }


        product.init();
       
    </script>
}